body {
  height: 100vh;
  margin: 0;
  background-color: #141414;
  color: white;
  font-family: "Noto Sans KR", sans-serif;
}

main {
  flex: 1;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px 40px;
  background-color: #1f1f1f;
}

.title {
  font-size: 2rem;
  color: #e50914;
  margin: 0;
}

.title-image {
  display: block;
  margin: 0 auto;
  height: 70px;
}

.title-button {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.button-red {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-red:hover {
  background-color: #ff1e1e;
}

body h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding: 30px 40px;
  max-height: 600px;
  margin: 0 auto;
  height: auto;
}

.card {
  background-color: #1f1f1f;
  padding: 20px;
  padding-bottom: 100px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

  position: relative;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-meta {
  font-size: 0.9rem;
  color: #bbb;
  margin-bottom: 10px;
}

.card-content {
  font-size: 1rem;
  line-height: 1.4;
}

.card button {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal.hidden {
  display: none;
}

.modal-content {
  position: relative;
  background-color: #1f1f1f;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  color: white;

  text-align: center;
}

.modal-content input {
  margin: 10px auto;
  max-width: 100%;
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  resize: none;
}

.modal-content textarea {
  margin: 10px auto;
  max-width: 100%;
  width: 80%;
  height: 120px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  resize: none;
}

.modal-close-button,
.delete-modal-close-button {
  position: absolute;

  top: 16px;
  right: 16px;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.modal-submit-button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer {
  text-align: center;
  padding: 20px;
  color: #aaa;
  background-color: #1f1f1f;
  font-size: 0.9rem;
  margin-top: 600px;
}
